<section class="login-form" style="margin-top: 50px" fxLayout="column" fxLayoutAlign="center center">
    <h3 style="color: rgb(95, 91, 91)">Welcome to LMS, please login:</h3>
    <form 
    fxLayout="column" 
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    #f="ngForm"
    (ngSubmit)="onSubmit(f)">
        <mat-form-field>
            <input 
            type="text" 
            matInput 
            placeholder="Your username." 
            ngModel 
            name="username"
            #usernameInput="ngModel"
            required> 
            <mat-error *ngIf="usernameInput.hasError('required')">Field can't be empty.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input 
            type="password" 
            matInput 
            placeholder="Your password." 
            ngModel 
            name="password"
            #passwordInput="ngModel"
            minlength="6"
            required>
            <mat-error *ngIf="passwordInput.hasError('required')">Field can't be empty.</mat-error>
            <mat-error *ngIf="passwordInput.invalid">Password has 6 or more characters.</mat-error>
        </mat-form-field>
        <br>
        <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Login</button>
    </form>
    <p *ngIf="loginFail$ | async" style="color:rgb(247, 22, 22)">Username or password incorrect, please try again.</p>
</section>