<nav mat-tab-nav-bar fxLayout="row">
    <div fxFlex fxLayoutAlign="center">
        <a mat-tab-link (click)="target = 'admins'">Admins</a>
        <a mat-tab-link (click)="target = 'teachers'">Teachers</a>
        <a mat-tab-link (click)="target = 'students'">Students</a>
    </div>
</nav>
<div fxLayout="row" fxLayoutAlign="center" style="margin-top:60px">
    <app-admins fxFlex *ngIf="target == 'admins'"></app-admins>
    <app-teachers fxFlex *ngIf="target == 'teachers'"></app-teachers>
    <app-students fxFlex *ngIf="target == 'students'"></app-students>
</div>
