<div fxLayout="row" fxLayoutAlign="center" *ngIf="isLoading$ | async">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="!(isLoading$ | async)">
    <div flexLayout="column" fxLayoutAlign="center center">
        <mat-form-field fxFlex="25%">
            <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="filter">
        </mat-form-field>
    </div>

    <div style="width: 80%; margin: auto; margin-top: 60px">
        <mat-table [dataSource]="dataSource" matSort >
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.id | number }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="korisnickoIme">
                <mat-header-cell *matHeaderCellDef>Username</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.korisnickoIme }}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>
        <mat-paginator [pageSize]="1" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
    </div>
</div>
