<mat-toolbar color="primary">
    <!-- ADMIN'S -->
    <div fxFlex fxLayout *ngIf="'ROLE_ADMIN' == (role$ | async)">
        <a class="toolbar-option" routerLink="myProfile">
            <mat-icon color="white">face</mat-icon>
            <span style="margin-left:'10px'">My Profile</span>
        </a>
        <div fxFlex></div>
        <a class="toolbar-option" routerLink="#" (click)="logout()">
            <span style="margin-right:'10px'">Logout</span>
            <mat-icon color="white">logout</mat-icon>
        </a>
    </div>
    <!-- ----------------- -->

    <!-- VISITOR'S -->
    <div fxFlex fxLayout *ngIf="'ROLE_VISITOR' == (role$ | async)">
        <a class="toolbar-option" routerLink="#">
            <span style="margin-left:'10px'">university</span>
        </a>
        <div fxFlex></div>
        <a class="toolbar-option" routerLink="/login">
            <span style="margin-right:'10px'">Login</span>
            <mat-icon color="white">login</mat-icon>
        </a>
    </div>
    <!-- ------------------ -->

    <!-- TEACHER'S -->
    <div fxFlex fxLayout *ngIf="'ROLE_TEACHER' == (role$ | async)">
        <a class="toolbar-option" routerLink="myProfile">
            <mat-icon color="white">face</mat-icon>
            <span style="margin-left:'10px'">My Profile</span>
        </a>
        <div fxFlex></div>
        <a class="toolbar-option" routerLink="#" (click)="logout()">
            <span style="margin-right:'10px'">Logout</span>
            <mat-icon color="white">logout</mat-icon>
        </a>
    </div>
    <!-- ----------------- -->

    <!-- STUDENT'S -->
    <div fxFlex fxLayout *ngIf="'ROLE_STUDENT' == (role$ | async)">
        <a class="toolbar-option" routerLink="myProfile">
            <mat-icon color="white">face</mat-icon>
            <span style="margin-left:'10px'">My Profile</span>
        </a>
        <div fxFlex></div>
        <a class="toolbar-option" routerLink="#" (click)="logout()">
            <span style="margin-right:'10px'">Logout</span>
            <mat-icon color="white">logout</mat-icon>
        </a>
    </div>
    <!-- ----------------- -->

</mat-toolbar>