<div fxLayout="row" fxLayoutAlign="center" style="width: 100%; margin-top: 100px">
    <h2>Choose action to perform:</h2>
</div>
<div fxLayout="column" fxLayoutAlign="center center" style="width: 100%; margin-top: 80px">
    <div fxLayout="row" fxLayoutAlign="center" style="width: 100%">
        <mat-card>
            <img mat-card-image src="../../assets/images/books.jpg" alt="administrate books">
            <mat-card-actions fxLayout fxLayoutAlign="center">
                <button mat-button>Books Administration</button>
            </mat-card-actions>
        </mat-card>
        <mat-card>
            <img mat-card-image src="../../assets/images/teachers.jpg" alt="administrate books">
            <mat-card-actions fxLayout fxLayoutAlign="center">
                <button mat-button>Users Administration</button>
            </mat-card-actions>
        </mat-card>
        <mat-card>
            <img mat-card-image src="../../assets/images/university.jpg" alt="administrate books">
            <mat-card-actions fxLayout fxLayoutAlign="center">
                <button mat-button>University Administration</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div fxLayout="row" fxLayoutAlign="center" style="width: 100%">
        <mat-card>
            <img mat-card-image src="../../assets/images/study programs.jpg" alt="administrate books">
            <mat-card-actions fxLayout fxLayoutAlign="center">
                <button mat-button>Study Programs Administration</button>
            </mat-card-actions>
        </mat-card>
        <mat-card>
            <img mat-card-image src="../../assets/images/classrooms.jpg" alt="administrate books">
            <mat-card-actions fxLayout fxLayoutAlign="center">
                <button mat-button>Classrooms Administration</button>
            </mat-card-actions>
        </mat-card>
        <mat-card>
            <img mat-card-image src="../../assets/images/schedules.jpg" alt="administrate books">
            <mat-card-actions fxLayout fxLayoutAlign="center">
                <button mat-button>Administrate Schedules</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
