mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

mat-nav-list {
  width: 250px;
  cursor: pointer;
  height: 100%;
}

mat-list-item {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

.toolbar-option {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

mat-card {
  max-width: 250px;
  max-height: 220px;
  padding: 0px;
  margin: 15px;
}

mat-card img {
  object-fit: cover;
  width: 100%;
  height: 80%;
  margin: 0px;
}

mat-card-actions {
  margin: 0px;
  padding: 0px;
}

mat-card-actions button {
  font-weight: bold;
}
