<section class="login-form">
    <form 
    fxLayout="column" 
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    #f="ngForm"
    (ngSubmit)="onSubmit(f)">
        <mat-form-field>
            <input 
            type="text" 
            matInput 
            placeholder="Your username." 
            ngModel 
            name="korisnickoIme"
            #usernameInput="ngModel"
            required> 
            <mat-error *ngIf="usernameInput.hasError('required')">Field can't be empty.</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Minimum 6 characters.">
            <input 
            type="password" 
            matInput 
            placeholder="Your password."
            ngModel 
            name="lozinka"
            required
            minlength="6"
            #passwordInput="ngModel">
            <mat-hint align="end" > {{ passwordInput.value?.length }} / 6</mat-hint>
            <mat-error *ngIf="passwordInput.hasError('required')">Field can't be empty.</mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Sign up</button>
    </form>
</section>